<!doctype html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EventosApp</title>
</head>
<body>
    <h1>Lista de Eventos</h1>
    <h3>
        <a href="/cadastrarEvento">Cadastrar Eventos</a>
    </h3>
    <div th:each="evento : ${eventos}">
        <div class="row">
            <p><span th:text="${evento.nome}"></p>
            <p><span th:text="${evento.local}"></p>
            <p><span th:text="${evento.data}"></p>
            <p><span th:text="${evento.horario}"></p>
        </div>

    </div>
</body>
</html>